---
import { Image } from 'astro:assets';
import skillsImage from '../../assets/skills/team-skills.png';
import { getCollection } from 'astro:content';

const skills = await getCollection('skills');
---

<section class="skills">
	<div class="skills__container">
		<div class="skills__content">
			<h2 class="skills__title">Our <span>team</span> Skills</h2>
			<div class="skills__stats stats">
				<div class="stats__items">
					{
						skills.map(skill => (
							<div class="stats__item">
								<div class="stats__title">{skill.data.name}</div>
								<div class="stats__value">{skill.data.percent + '%'}</div>
								<span class="stats__line" style={{ width: `${skill.data.percent}%` }} />
							</div>
						))
					}
				</div>
			</div>
			<div class="skills__block-text block-text">
				<div class="block-text__text">* Over 8 years creating templates on Marketplace.</div>
			</div>
		</div>
		<div class="skills__image">
			<Image src={skillsImage} alt="Teamwork skills" />
		</div>
	</div>
</section>

<script>
	import gsap from 'gsap';
	import ScrollTrigger from 'gsap/ScrollTrigger';

	gsap.registerPlugin(ScrollTrigger);

	gsap.from('.stats__line', {
		scrollTrigger: {
			trigger: '.stats__items',
		},
		width: 0,
		delay: 0.2,
		duration: 0.6,
	});
</script>

<style lang="scss">
	.skills {
		background-color: $bgccolor;
		&__container {
			display: flex;
			max-width: 1440px;
			@include adaptiv-value('padding-bottom', 120, 70, 2);
			@media (max-width: 1440px) {
				max-width: $bp1280;
			}
			@media (max-width: $bp1280) {
				max-width: $bp1024;
			}
			@media (max-width: $bp1024) {
				max-width: $bp980;
			}
			@media (max-width: $bp980) {
				max-width: $bp760;
				flex-direction: column;
			}
			@media (max-width: $bp760) {
				max-width: $bp640;
			}
			@media (max-width: $bp640) {
				max-width: none;
			}
		}
		&__content {
			background-color: #020a0c;
			flex: 0 0 50%;
			padding: 90px 120px;
			@media (max-width: 1440px) {
				padding: 60px 80px;
			}
			@media (max-width: $bp1280) {
				padding: 30px 40px;
			}
			@media (max-width: $bp980) {
				padding-bottom: 50px;
			}
			@media (max-width: $bp450) {
				padding: 30px 20px;
			}
		}
		&__title {
			@include adaptiv-value('margin-bottom', 72, 25, 2);
			color: #ffffff;
			font-weight: $bold;
			@include adaptiv-value('font-size', 60, 28, 2);
			@media (max-width: $bp1280) {
				@include adaptiv-value('margin-bottom', 50, 25, 2);
				@include adaptiv-value('font-size', 54, 26, 2);
			}
			line-height: 1.2;
			text-transform: uppercase;
			span {
				font-weight: $regular;
				font-size: 0.7em;
				line-height: 1.71;
				letter-spacing: 0.025em;
			}
		}

		&__block-text {
			> div {
				@include adaptiv-value('font-size', 18, 12, 2);
				line-height: 1.3;
				color: rgba(255, 255, 255, 0.7);
			}
		}

		&__image {
			flex: 0 0 50%;
			@media (max-width: $bp980) {
				background-color: #020a0c;
				display: flex;
				justify-content: center;
			}
			img {
				height: auto;
				max-width: 100%;
			}
		}
		&__stats {
			margin-bottom: 15px;
		}
	}

	// ======================================================
	.stats {
		color: #ffffff;
		&__item {
			@include adaptiv-value('padding-bottom', 12, 6, 2);
			position: relative;
			display: flex;
			justify-content: space-between;
			&:not(:last-child) {
				@include adaptiv-value('margin-bottom', 30, 20, 2);
			}
			@include adaptiv-value('font-size', 15, 11, 2);
			line-height: 1.33;
			letter-spacing: 0.066em;
			text-transform: uppercase;
		}
		&__line {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 2px;
			background-color: #ffffff;
		}
		&__title {
		}
		&__value {
		}
	}
</style>
