// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
	font-family: 'iconsfont';
	src: url("../fonts/iconsfont/iconsfont.woff2") format("woff2"),
		url("../fonts/iconsfont/iconsfont.woff") format("woff"),
		url("../fonts/iconsfont/iconsfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iconsfont' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-brackets:before {
	content: "\e900";
}

.icon-cup:before {
	content: "\e901";
}

.icon-medal:before {
	content: "\e902";
}


$roboto: 'Roboto', sans-serif;

$regular: 400;
$bold: 700;